
/** Border around the value so it looks like input. Hide overflowing text. */
div {
    width: 54px;
    height: 54px;
    background-color: black;
    border: 3px inset white;
    text-align: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/** Change font size based on whether the number has three digits. */
.digits2 {
    font-size: 2em;
    padding: 0px 5px;
}

.digits3 {
    font-size: 28px;
    padding: 3px 1px;
}
