<div class="modal-body container">
  
  <h4 class="modal-title">High scores</h4>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Difficulty</th>
          <th>Name</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of highScores.items">
          <td>{{item.settingName}}</td>
          <td class="break-word">{{item.name}}</td>
          <td>{{item.time}}s</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button type="button" class="btn btn-danger" (click)="resetHighScores()">Reset</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
  </div>

</div>