<div class="modal-body container">
  <form #form="ngForm">

    <h4 class="modal-title">New high score!</h4>

    <div class="form-group">

      <p>Congratulations! Your time {{time}}s is the best {{settingName}} time.</p>

      <label for="nameInput">Please enter your name:</label>

      <input id="nameInput" name="nameInput" class="form-control" placeholder="Enter name"
        maxlength="20" [(ngModel)]="newName" #nameInput="ngModel" required >
    </div>

    <div>
      <button type="button" class="btn btn-secondary" (click)="done()" [disabled]="form.invalid">
        {{form.invalid ? 'Please enter name' : 'OK'}}
      </button>
    </div>

  </form>
</div>