
<div (contextmenu)="preventContextMenu()">
  <div class="game-area silver">
    <app-scroll-pane></app-scroll-pane>
  </div>

  <div class="side-menu silver">
    <app-side-menu></app-side-menu>
  </div>
</div>