
/** On portrait orientation, menu is on top. */
@media screen and (orientation: portrait) {

    .game-area {
        position: absolute;
        top: 55px;
        bottom: 0;
        width: 100%;
    }

    .side-menu {
        height: 55px;
    }

}

/** On landscape orientation, menu is on right. */
@media screen and (orientation: landscape) {

    .game-area {
        position: absolute;
        left: 0;
        right: 55px;
        height: 100%;
    }

    .side-menu {
        position: fixed;
        right: 0;
        width: 55px;
        height: 100%;
    }

}

/** Background for entire game is silver. */
.silver {
    background-color: silver;
}
