<div *ngFor="let line of gameState.grid; let lineId = index">
  <div *ngFor="let square of line; let columnId = index" class="square"
    (mousedown)="onMouseDown(lineId, columnId, $event.buttons)"
    (touchstart)="onTouchStart(lineId, columnId)"
    (touchend)="onTouchEnd()"
    (mouseleave)="onMouseLeave($event.buttons)"
    (click)="onClick(lineId, columnId)"
    (contextmenu)="onContextMenu(lineId, columnId)">

    <div [class.revealed]="square.revealed"
          [class.unrevealed]="!square.revealed"
          [class.flag]="square.flag || (gameState.overallState === OverallState.Won && !square.revealed)"
          [class.mine]="gameState.overallState === OverallState.Lost && square.mine && !square.flag"
          [class.mistake]="gameState.overallState === OverallState.Lost && square.flag && !square.mine"
          [class.pushed]="lineId === lineIdPushed && columnId === columnIdPushed">

      <span *ngIf="square.revealed && !square.mine" [class]="'number-' + square.value">
        {{square.value > 0 ? square.value : '&nbsp;'}}
      </span>

      <span *ngIf="!square.revealed || square.mine">
        &nbsp;
      </span>

    </div>

  </div>
</div>
