
/** Each square has silver background and gray border. */
.square {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: silver;
    border: 1px solid grey;
    padding: 0;
}

/** Forces border of square to be correct size when zoomed. */
.square div {
    height: 100%;
}

/** Unrevealed square looks like a button. */
.unrevealed {
    border-style: outset;
    border-color: white;
}

.unrevealed.pushed {
    border-style: solid;
    border-color: silver;
}

/** Revealed square has transparent border so it has same width of border as unrevealed square. */
.revealed {
    border-style: solid;
    border-color: transparent;
    cursor: default;
    font-weight: bold;
    text-align: center;
}

/** Flag image. */
.flag {
    background-image: url('/assets/images/flag.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/** Mine image. */
.mine {
    background-image: url('/assets/icons/icon-192.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/** Highlights wrongly flagged mine after game ended. */
.mistake {
    background-image: url('/assets/images/mistake.svg'), url('/assets/icons/icon-192.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/** Revealed mine is the one that killed player. */
.mine.revealed {
    background-color: red;
}

/** Color for each value. */
.number-1 { color: rgb( 66,   0, 255); }
.number-2 { color: rgb(  0, 136,   0); }
.number-3 { color: rgb(255,   0,   0); }
.number-4 { color: rgb( 29,   0, 130); }
.number-5 { color: rgb(140,   0,   0); }
.number-6 { color: rgb(  0, 132, 131); }
.number-7 { color: rgb(  0,   0,   0); }
.number-8 { color: rgb(128, 128, 128); }
