<div class="modal-body container">

  <h4 class="modal-title">Choose difficulty</h4>

  <button *ngFor="let gameSettings of possibleGameSettings"
   type="button" class="btn btn-secondary" (click)="newGame(gameSettings)">{{gameSettings.name}}</button>

  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>

</div>
