
/** Container has size of screen without side menu. It doesn't scroll. */
.scroll-container {
    overflow-y: auto; /* Allow vertical scrollbar. */
    height: 100%; /* Stretch to entire screen. */
}

/** Content has size of field. It can be smaller or larger than container. It's centered from code. */
.scroll-content {
    position: relative; /* Allow positioning from code. */
    white-space: nowrap; /* Do not wrap content to next line if it's bigger than container. */
    display: inline-block; /* Required so that right padding is not removed. */
    padding: 20px;
}
