/* You can add global styles to this file, and also import other style files */

#body {
    user-select: none; /* Prevent user selecting text. */
    overflow-y: hidden; /* Hides any extra content. Prevents scrolling when mobile phone buttons are displayed. Prevents refreshing the page by down gesture. */
}

/** Vertically and horizontally centers given element in its parent. */
.center-ver-hor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/** Adds background to menu. Adds outline and boldness to text so it is visible on textured background. */
.modal-body {
    background-image: url('/assets/images/paper.jpg');
    color: white;
    font-weight: bold;
    text-shadow: -2px 0 0 #444, 2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, -2px -2px 0 #444, 2px 2px 0 #444, -2px 2px 0 #444, 2px -2px 0 #444;
}

/** Enlarge buttons in modal windows. */
.btn {
    width: 100%;
    margin-bottom: 10px;
    opacity: 1; /* Overrides bootstrap opacity for disabled buttons. It would be ugly with texture. */
}

/** Center the caption in modal windows. */
h4.modal-title {
    text-align: center;
    margin-bottom: 16px;
}
