<div class="container center-ver-hor">
  <div class="row">

    <div class="item">
      <app-counter
        [value]="gameState.overallState === OverallState.Won ? 0 : (gameState.bombsTotal - gameState.flagsTotal)">
      </app-counter>
    </div>

    <div class="item">
      <button (click)="newGame()">
        <div class="d-flex justify-content-center align-items-center overflow-hidden">
          <ng-container *ngIf="scared; else second">😯</ng-container>
          <ng-template #second>
            <ng-container *ngIf="gameState.overallState === OverallState.Lost;else third">😵</ng-container>
          </ng-template>
          <ng-template #third>
            <ng-container *ngIf="gameState.overallState === OverallState.Won;else fourth">😎</ng-container>
          </ng-template>
          <ng-template #fourth>🙂</ng-template>
        </div>
      </button>
    </div>

    <div class="item" *ngIf="isSavingAvailable">
      <button (click)="displayHighScores()">
        <div class="d-flex justify-content-center align-items-center overflow-hidden">
          <span>🥇</span>
        </div>
      </button>
    </div>

    <div class="item">
      <app-counter [value]="gameTime"></app-counter>
    </div>

  </div>
</div>