
/** Active and selected buttons are highlighted by light background and inset look. */
button:active, .selected {
    background-color: #EEE;
    border: 3px inset white;
}

/** Size and color of buttons. Buttons have outset look unless selected. */
button {
    border: 3px outset white;
    padding: 0;
    outline: 0; /* Prevent blue border around last selected button. */
    background-color: silver;
}

button div {
    width: 48px;
    height: 48px;
    font-size: 2.5em;
}
